
@use "../../shared/styles/fonts.scss" as *;

.eventItem{
    width: 440px;

    .eventItem__image{
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;

        .eventItemImage{
            width: 440px;
            height: 350px;
            object-fit: cover;
            border-radius: 10px;
        }

        .eventItemImage__like{
            position: absolute;
            bottom: 18px;
            right: 18px;
            opacity: 0.6;
            cursor: pointer;

            &:hover{
                opacity: 1;
            }
        }
        
        .active{
            filter: invert(56%) sepia(42%) saturate(5590%) hue-rotate(329deg) brightness(90%) contrast(100%);
            opacity: 1;
        }

        .eventItemImage__point{
            position: absolute;
            top: 18px;
            right: 18px;
            display: flex;
            align-items: center;
            padding: 4px 10px;
            background-color: rgba(255, 255, 255, 0.6);
            gap: 8px;
            border-radius: 5px;
            font-family: "Gilroy Medium";
            font-size: 20px;


            >img{
                width: 21px;
                height: 24px;
            }
        }
    }

    .eventItem__content{
        width: inherit;

        > *:not(:last-child){
            margin-bottom: 12px;
        }

        .content__tags{
            display: flex;
            gap: 12px;
        }   
        .content__title{
            font-size: 20px;
            font-family: "Gilroy Medium";
        }

        .content__description{
            color: #5A5A5A;
            font-size: 18px;
            font-weight: 400;
            word-break: break-all;
            text-overflow: ellipsis;
        }
    }
}