
@use "../../shared/styles/colors.scss" as *;

.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow-y: hidden;

    > *:not(:last-child){
        margin-bottom: 31px;
    }

    .loginPage__spots{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }

    .spot1{
        top: 191px;
        left: 118px;
    }

    .spot2{
        top: -8px;
        right: 183px;
    }
}