
@use "../../styles/fonts.scss" as *;

.profileBtn{
    display: flex;
    align-items: center;
    gap: 20px;

    .profileBtn__username{
        font-size: 20px;
        font-family: "Gilroy Medium";
    }
}