
@use "../../shared/styles/fonts.scss" as *;

.formLogin{
    background-color: #fff;
    max-width: 460px;
    border-radius: 30px;
    padding: 40px 50px;

    > *:not(:last-child){
        margin-bottom: 31px;
    }

    .formLogin__title{
        font-size: 24px;
        text-align: center;
        font-weight: 500;
    }    

    .formLogin__inputs{
        > *:not(:last-child){
            margin-bottom: 12px;
        }

        .formLogin__btnReg{
            color: #BBBBBB;
            font-family: "Inter";
            font-weight: 400;
        }
    }

    .formLogin__btn{
        display: flex;
        justify-content: center;
    }
}