@use "../../shared/styles/colors.scss" as *;

.header{
    display: flex;
    justify-content: space-between;
    margin: 15px 60px;
    align-items: center;

    .header__nav{
        display: flex;
        gap: 40px;
    }

    .header__login{
        display: flex;
        align-items: center;
        gap: 40px;
        cursor: pointer;
    }

}



