
$base_color: #60D7BB;
$error_color: #E74646;
$color_logo: #60D7BB;

//* SPOT
$spot_color: #60D7BB;


//* INPUTS
$input_placeholder_color: #ADB5BD;
$inputForm_color_border: #60D7BB;
$inputForm_color_border_hover: #42B99D;

//* BUTTONS
$btnGreen_background_color: #60D7BB;
$btnGreen_color_hover: #42B99D;

$btnGreenReverse_color_border: #60D7BB;

//* LINKS
$color_link: #000;
$color_link_hover: #60D7BB;
$color_link_active: #42B99D;

//* FOOTER
$color_border_footer: #60D7BB;