
@use "../../styles/colors.scss" as *;

.logo{
    font-size: 24px;
    font-weight: 600;
    line-height: 28.25px;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: default;

    .logo__img{
        background-color: $color_logo;
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
}