
@use "../../shared/styles/fonts.scss" as *;

.feedbackItem{
    
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;

    .feedbackItem__title{
        display: flex;
        align-items: center;
        gap: 16px;

        .title__image{
           width: 42px;
           height: 42px; 
           border-radius: 50%;
           object-fit: cover;
        }
        
        .title__username{
            font-family: "Gilroy Medium";
            font-size: 20px;
        }
    }

    .feedbackItem__comment{
        font-size: 20px;
        color: #5a5a5a;
    }

    > *:not(:last-child){
        margin-bottom: 20px;
    }
}