
@use "../../styles/colors.scss" as *;

.inputGreen {
    border: 2px solid $inputForm_color_border;
    border-radius: 6px;
    font-size: 20px;
    padding: 12px 30px;
    width: 100%;
    height: 47px;
    outline: none;

    &::placeholder{
        color: $input_placeholder_color;
    }

    &:hover, &:focus{
        border-color: $inputForm_color_border_hover;
    }
}

.error{
    border-color: $error_color;
}

.errorText{
    color: $error_color;
    font-weight: 400;
    margin-top: 6px;
}
