.friendItem{
    min-width: 440px;
    height: 90px;
    padding: 0 40px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 30px;

    .friendItem__image{
       width: 55px;
       height: 55px;
       border-radius: 50%;     
    }

    .friendItem__username{
        font-size: 20px;
    }
}