
@use "../../styles/colors.scss" as *;

.filterItem{
   font-size: 18px;
   font-weight: 500; 
   cursor: pointer;
   padding: 8px 10px;
   border-radius: 5px;
   
   &:hover{
    color: $color_dropDown_hover;
   }
}

.active{
    background-color: $color_dropDown_active;
}