
@use "../../shared/styles/colors.scss" as *;
@use "../../shared/styles/fonts.scss" as *;

.mainPage{
    position: relative;

    .mainPage__spots{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: -1;

        span{
            width: 754px;
            height: 754px;
            background: radial-gradient(circle, $spot_color 0%, #fff 40%);
            border-radius: 50%;
        }
    }
    
    .spot1{
        top: 110px;
        left: 96px;
    }

    .spot2{
        width: 629px;
        height: 573px;
        top: -50px;
        right: -200px;
        z-index: -2;
    }

    .mainPage__promo{
        padding-top: 164px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .promo__content{
            
            padding-top: 70px;
            width: 710px;

            > *:not(:last-child){
                margin-bottom: 30px;
            }   

            .promoContent__title{
                text-transform: uppercase;
                font-size: 64px;
                font-family: "Gilroy Medium";
            }

            .promoContent__description{
                font-size: 24px;
                font-weight: 400;

                > *:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }

    .mainPage__statistics{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $base_color;
        border-bottom: 1px solid $base_color;
        margin-top: 167px;
        padding: 25px 30px;
        
        .statistic{
            display: flex;
            gap: 30px;
            font-size: 24px;
            font-weight: 400;
            width: min-content;
            
            > * {width: auto};    
        
            .statistic__number{
                font-size: 48px;
            }
        }

    }

    .mainPage__events{
        margin-top: 130px;

        .events__nav{
            border-bottom: 1px solid #D9D9D9;
            margin-bottom: 51px;
            padding-bottom: 15px;

            .eventsNav__link{
                font-size: 20px;
                font-weight: 400;
                padding: 15px 25px;
                text-decoration: none;
                color: $color_link;
            }

            .activeLink{
                border-bottom: 2px solid $color_eventsNavLink_border;
            }
        }

        .events__actions{
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
        }

        .events__items{
            display: flex;
            flex-wrap: wrap;
            gap: 70px 50px;
        }
    }

    .mainPage__recentEvents{
        margin-top: 190px;

        .recentEvents__title{
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 40px;
        }

        .recentEvents__items{
            display: flex;
            flex-wrap: wrap;
            gap: 70px 50px;
        }
    }
}